@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Inter";
}

.font-gluten {
  font-family: "Gluten";
}

.btn-primary {
  @apply px-3 leading-[24px] text-[16px] py-2 bg-[#514432] hover:bg-[#74695B] focus:ring-2 focus:ring-[#1C1812] active:bg-[#31291E] focus:ring-offset-1 text-[#F7F7F6] rounded-sm cursor-pointer;
}

.btn-subtle {
  @apply bg-[#DFDEDD] hover:bg-[#F7F7F6] active:bg-[#C6C5C3] focus:ring-2 focus:ring-[#1C1812] focus:ring-offset-1 py-2 px-3 md:py-1 md:px-2 rounded-sm cursor-pointer text-[#1C1812]  text-[16px] leading-[24px] md:text-[14px] md:leading-[21px];
}

.btn-hollow {
  @apply bg-[#FCFCFB] hover:bg-[#DFDEDD] active:bg-[#C6C5C3] border-[1px] rounded-sm border-[#969491] px-3 py-2 text-[16px] leading-[24px] md:text-[14px] md:border-0 md:leading-[21px] md:py-1 md:px-2 cursor-pointer text-[#1C1812] focus:ring-2 focus:ring-[#1C1812] focus:ring-offset-1;
}

/* .nav-item{
    @apply relative hover:border-[1px] hover:border-b-red-200 h-[32px]  
} */

/* .nav-item{
    @apply relative p-1 transition-all duration-300 ease-in-out 
    hover:after:block hover:after:h-[1px] hover:after:w-full hover:after:bg-gray-400 hover:after:mt-1 
    focus:outline-none focus:ring-1 focus:ring-black 
    active:ring-1 active:ring-black active:after:bg-transparent
} */

.nav-item {
  @apply relative p-1 transition-all duration-300 ease-in-out 
      after:block after:h-[1px] after:w-full after:bg-transparent after:mt-1 
      hover:after:bg-[#C6C5C3]
      focus:outline-none focus:ring-1 focus:ring-black;
}

.hero-heading {
  @apply text-[40px] leading-[45px] md:text-[56px] font-semibold md:leading-[63px] text-left text-[#1C1812];
}

.section-heading {
  @apply md:text-5xl font-semibold md:leading-[54px] text-[40px] leading-[45px] text-[#1C1812];
}

.page-section {
  @apply bg-white text-white pb-8 pt-18 px-3 md:px-16;
}

.page-section-container {
  @apply md:max-w-[1024px] mx-auto;
}
